.text-field,.combo-box{
    -fx-border-color: rgba(89,98,249,0.2);
    -fx-border-radius: 50px;
    -fx-background-color: rgba(0,0,0,0);
}
.text-field:hover,.text-field:focused,.combo-box:hover,.combo-box:focused{
    -fx-border-color: rgba(89,98,249,1);
    -fx-effect: dropshadow(gaussian, black, 5, 0, 3, 3);
}
.table-view{
    -fx-text-alignment: center;
}

#Del{
    -fx-alignment: center;
}
#u_delete{
    -fx-alignment: center;
}
.button{
    -fx-text-fill: white;
    -fx-background-color: rgba(89,98,249,1);
    -fx-border-color: rgba(89,98,249,0.2);
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 0, 0, 0, 5);
}

.button:hover,.button:focused{
    -fx-border-color: rgba(89,98,249,1);
    -fx-translate-y: 2;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 0, 0, 0, 3);
}
.text-area:focused{
    -fx-border-color: rgba(0,0,0,0);
}